body {
  font-family: 'Ubuntu', sans-serif;
  padding-left: 5%;
  padding-right: 3%;
  background-color: #8E8E8E;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

li {
  display: inline;
  margin-left: 50px;
}

p {
  font-size: 20px;
}


.nav {
  color: black;
  font-weight: 600;
  font-size: 20px;
  background-color: #D6908A;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.contact {
  margin-top: 150px;
  margin-left: 200px;
  color: white;
}

address {
  box-sizing: content-box;
  background-color: #E3EEFA;
  display: flex;
  margin-top: 200px;
  padding-left: 250px;
  border-radius: 15px;  
}

.add_anchor {
  text-decoration: none;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 10px;
  color: chartreuse;
}

.form {
  box-sizing: content-box;
  background-color: #FDD485;  
  padding: 30px 30px 30px 30px;
  margin-left: 700px;
  margin-right: 200px;
  margin-top: -410px;
  border-radius: 10px;
  padding: 30px 30px 30px 30px ;
  margin-bottom: 30px;
}

.nombre {
  display: block;
  font-size: 20px;
}

.email {
  display: block;
  font-size: 20px;
}

.motivo {
  display: block;
  font-size: 20px;
}

.mensaje {
  display: block;
  font-size: 20px;
}

.button {
  margin-top: 20px;
  display: block;
  font-size: 20px;
}

footer {
  box-sizing: content-box;
  background-color: #D6908A;
  padding: 5px 5px 5px 5px;
  border-radius: 15px;
  margin-top: 80px;
}

.p_footer {
  text-align: center;
  font-weight: 700;
  font-size: 25px
}

.name_footer {
  letter-spacing: 3px;
  text-align: center;
  font-weight: 700;
  font-size: 30px
}

.img_footer {
  margin-left: 550px;
  margin-top: 10px;
}

.img_github {
  width: 1200px;
  height: 300px;
}

.img_github img {
  max-width: 19%;
  max-height: 10%;
}

.p_copyright {
  text-align: center;
  font-weight: 500px;
  font-size: 20px;
}